<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
<style>
.bbg
{
    background-image :url("https://i.ibb.co/vQ6qgq5/brickwhite.jpg");
    background-size:cover;
    height:100vh;
    padding:390px;
    padding-bottom:407px;
}
.fon
{
	font-size:25px;
	font-family:Roboto;
}
</style> 
 </head>
  <body>
<div class="sectionmnn">
    <div class="d-flex flex-column justify-content-center bbg">
        <center><div>
	 <form action="/shopreg/" method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
            <label for="shopname" class="m-1 fon">Enter the Shop Name :</label>
            <input id="shopname" placeholder="enter the shop name" type="text" name="sname">
            <br>
            <label for="shopadress" class="m-1 fon">Enter the Shop Address :</label>
            <input id="shopadress" placeholder="enter the shop adress" type="text" name="address">
            <br>
	    <label class="m-1 fon">Enter Opening time :</label>
            <input  placeholder="enter the opening time" type="time" name="ot">
            <br>
	    <label class="m-1 fon">Enter Closing time :</label>
            <input placeholder="enter the closing time" type="time" name="ct">
            <br>
	    <label class="m-1 fon">Provide an Image :</label>
            <input type="file" name="img">
            <br>
            <input type="submit" class="btn btn-primary mt-2">
	 </form>
        </div>
        </center>
</div>
    </div>
  </body>
</html>