<!DOCTYPE html>
<html>
  <head> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<style>
.bgg
{
    background-image:url("https://i.ibb.co/vQ6qgq5/brickwhite.jpg");
    background-size:cover;
    height:100vh;
}
.fon
{
	font-family:Roboto;
	font-size:25px;
}
</style>
  </head>
  <body>
    <div class="d-flex flex-column justify-content-center bgg">
        <div>
         <form action="/updateind/" method="POST">
 	  {% csrf_token %}
          <center> <label for="sid" class="fon">Enter Shop Id :</label>
            <input id="sid" name="sid" type="text" value={{sid}}>
	    <input type="button" id="b" value="check" class="btn btn-primary">
	  <p id="out"></p>
          </center> 
  	 </form>
        </div>
    </div>
  <script>
   function printpro()
   { a={{list|safe}};
     var i,j,c;
     var st="";
     c=1; 
     for(i=0;i<a.length;i++)
     { if(a[i]!="")
       { st=st+"<p><label>Product Id : </label><input name=p"+c+" value="+a[i][0]+" type='text'><br><label>Product Name : </label><input name=pn"+c+" value="+a[i][1]+" type='text'><br><label>Quantity : </label><input type='number' name=q"+c+" value="+a[i][2]+"><br></p>";
         c=c+1;}}
     st=st+"<input type='submit'><input type='hidden' name='c' value="+c+">";
     out=document.getElementById("out");
     out.innerHTML=st}
     b=document.getElementById("b");
     b.addEventListener("click",printpro,false);
  </script>
 </body>
</html>
